<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Скляні конструкції | Головна</title>
    <link type="Image/x-icon" th:href="@{img/logo_title.png}" rel="icon">
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/catalog.css}">
    <link rel="stylesheet" th:href="@{bootstrap/bootstrap-grid.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Mulish&family=Oswald:wght@300;400;500&family=Rubik&display=swap"
          rel="stylesheet">

</head>
<body>

<header class="header">
    <div class="container">
        <div class="header_in">
            <div class="logo">
                <a th:href="@{/general}"><img th:src="@{/img/Logo.png}" alt=""></a>
            </div>
            <nav class="menu">
                <ul class="menu header__menu">
                    <li>
                        <a th:href="@{/general}">ГОЛОВНА</a>
                    </li>
                    <li>
                        <a th:href="@{/catalog}">КАТАЛОГ</a>
                    </li>
                    <li>
                        <a th:href="@{/services}">ПОСЛУГИ</a>
                    </li>
                    <li>
                        <a th:href="@{/our_works}">НАШІ РОБОТИ</a>
                    </li>
                </ul>
            </nav>
            <div class="contact">
                <div>
                    <a href="tel:+380685059650">+38 (068) 505 96 50</a>
                </div>
                <div class="icons">
                    <a class="icon" href="https://www.facebook.com/profile.php?id=100040310163390" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a class="icon" href="https://instagram.com/arkonsklo?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a class="icon" href="https://t.me/+380685059650" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                    <a class="icon" href="https://wa.me/380685059650" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
            <div class="mobile">
                <div class="contact_mobile">
                    <a class="icon" href="tel:+380685059650"><i class="fa-solid fa-phone"></i></a>
                </div>
                <div class="menu-burger__header">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="main">
    <section>
        <div class="container">

            <div class="general">
                <div class="block_general_all">
                    <div class="block_general">
                        <div class="block_sklo">
                        </div>
                        <div class="block_sklo_2">
                            <h3>СКЛЯНІ КОНСТРУКЦІЇ</h3>
                            <h2>НЕСТАНДАРТНЕ РІШЕННЯ ВАШОГО ІНТЕР’ЄРУ</h2>
                        </div>
                    </div>
                    <div class="block_general_button">
                        <a th:href="@{/catalog}">
                            ПЕРЕЙТИ ДО КАТАЛОГУ
                            <i class="fa-solid fa-arrow-right"></i></a>

                    </div>


                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="block_character ">
                        <div class="charat">
                            <i class="fa-solid fa-dollar-sign"></i>
                        </div>
                        <p>ЧЕСНІ ЦІНИ</p>

                    </div>

                </div>
                <div class="col-6 col-lg-3">
                    <div class="block_character ">
                        <div class="charat">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <p>КОНСУЛЬТАЦІЇ</p>

                    </div>

                </div>
                <div class="col-6 col-lg-3">
                    <div class="block_character ">
                        <div class="charat">
                            <i class="fa-solid fa-handshake"></i>
                        </div>
                        <p>НАДІЙНІСТЬ</p>

                    </div>

                </div>
                <div class="col-6 col-lg-3">
                    <div class="block_character ">
                        <div class="charat">
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                        <p>ГАРАНТІЯ</p>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="about_us">
        <div class="container">
            <div class="about_us_desktop">
                <div class="row">
                    <div class=" col-lg-6">
                        <div class="about_us_text_and_button">
                            <h3>КОМПАНІЯ АРКОН - КОНСУЛЬТАЦІЇ ТА ВИБІР КРАЩОГО ВАРІАНТУ!</h3>

                            <p class="about_us_text">Продукція компанії Аркон орієнтована на тих, хто прагне перетворити
                                навколишній простір сучасними інтер'єрними деталями, завдяки яким унікальний інтер'єр
                                відрізняється від типового. Сходи зі скляними ступенями, панно і дзеркала з декоративною
                                обробкою - все це додає в інтер'єр більше повітря, простору і оригінальності. Тому ми
                                використовуємо для своїх виробів загартоване скло, яке при зовнішній крихкості,
                                невагомості і прозорості має підвищену стійкість до деформації. У нас ви можете замовити
                                те, що дозріло в якості власної ідеї, але не продається в магазинах.</p>
                            <div class="about_us_button">
                                <a th:href="@{/catalog}">
                                    Перейти до каталогу
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class=" col-lg-6">
                        <div class="photo">
                            <img th:src="@{img/sklo-520x343.png}" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="about_us_mobile">
                <div class="row">
                    <div class="col-12">
                        <div class="about_us_text_and_button">
                            <h3>КОМПАНІЯ АРКОН - КОНСУЛЬТАЦІЇ ТА ВИБІР КРАЩОГО ВАРІАНТУ!</h3>

                            <p class="about_us_text">Продукція компанії Аркон орієнтована на тих, хто прагне перетворити
                                навколишній простір сучасними інтер'єрними деталями, завдяки яким унікальний інтер'єр
                                відрізняється від типового. Сходи зі скляними ступенями, панно і дзеркала з декоративною
                                обробкою - все це додає в інтер'єр більше повітря, простору і оригінальності. Тому ми
                                використовуємо для своїх виробів загартоване скло, яке при зовнішній крихкості,
                                невагомості і прозорості має підвищену стійкість до деформації. У нас ви можете замовити
                                те, що дозріло в якості власної ідеї, але не продається в магазинах.</p>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="photo">
                            <img th:src="@{img/sklo-520x343.png}" alt="">

                            <div class="about_us_button">
                                <a th:href="@{/catalog}">
                                    Перейти до каталогу
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>
    <section class="catalog_lend">
        <div class="container">
            <div class="row">
                <div th:each="category, iterStat : ${categories}">
                    <th:block th:if="${iterStat.index < 6}">
                        <div class="col-6 col-lg-4">
                            <a href="{{url('./catalog/'.$category->id)}}" class=" catalog_lending  ">
                                <img class="photo" th:src="${category.photo}" alt="">
                                <div class="block_text_catalog ">
                                    <h2>${category.name}</h2>
                                    <hr>
                                    <p>${category.description}</p>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </section>
    <section class="account">
        <div class="container">
            <div class="account_block">
                <h3>РОЗРАХУЙТЕ ЦІНУ ЗА ВАШИМ ПРОЕКТОМ ДУШОВОЇ КАБІНИ
                </h3>
                <div class="account_block_with_form ">
                    <div class="row">
                        <form name="my" class="row">
                            <div class="col-6 col-md-4">
                                <label>
                                    <select name="type_construction" onchange="results()">
                                        <option disabled="disabled" selected="selected">Тип конструкції</option>
                                        <option value="angle">Кутова</option>
                                        <option value="angle135">Кутова 135</option>
                                        <option value="tap">Душикран</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-6 col-md-4">
                                <label>
                                    <select name="type_door" onchange="results()">
                                        <option disabled="disabled" selected="selected">Тип дверей</option>
                                        <option value="1">Розпашні</option>
                                        <option value="2">Розсувні</option>
                                        <option value="3">Глухі</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-6 col-md-4">
                                <label>
                                    <select name="depth" onchange="results()" id="depth">
                                        <option disabled="disabled" selected="selected" id="depth_1">Глибина, мм
                                        </option>
                                        <option value="0">0</option>
                                        @for($i=750; $i<1250; $i+=50)
                                        <option value="{{$i}}">{{$i}}</option>
                                        @endfor

                                    </select>
                                </label>
                            </div>

                            <div class="col-6 col-md-4">
                                <label>
                                    <select name="height" onchange="results()">
                                        <option disabled="disabled" selected="selected">Висота, мм</option>
                                        @for($i=1800; $i<2200; $i+=50)
                                        <option value="{{$i}}">{{$i}}</option>
                                        @endfor

                                    </select>
                                </label>

                            </div>
                            <div class="col-6 col-md-4">
                                <label>
                                    <select name="width" onchange="results()">
                                        <option disabled="disabled" selected="selected">Ширина, мм</option>
                                        @for($i=750; $i<1200; $i+=50)
                                        <option value="{{$i}}">{{$i}}</option>
                                        @endfor
                                    </select>
                                </label>

                            </div>
                            <div class="col-6 col-md-4">
                                <label>
                                    <select name="thickness" onchange="results()">
                                        <option disabled="disabled" selected="selected">Товщина скла, мм</option>
                                        <option value="0.9">6</option>
                                        <option value="1">8</option>
                                        <option value="1.1">10</option>
                                    </select>
                                </label>

                            </div>
                            <div class="col-6 col-md-4">
                                <label>
                                    <select name="type" onchange="results()">
                                        <option disabled="disabled" selected="selected">Тип скла</option>
                                        <option value="1650">Прозоре</option>
                                        <option value="1850">Матове</option>
                                        <option value="2100">Графіт</option>
                                        <option value="2100">Бронза</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-6 col-md-4">
                                <label>
                                    <select name="furniture" onchange="results()">
                                        <option disabled="disabled" selected="selected">Фурнітра</option>
                                        <option value="1">Глянцева</option>
                                        <option value="1">Матова</option>
                                        <option value="1.2">Чорна</option>

                                    </select>
                                </label>
                            </div>

                            <div class="col-12 col-md-4 ">
                                <div class="result result_back" id="result">Сума: 0грн</div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


    </section>
    <section class="new_photo">
        <div class="container">
            <div class="new_photo_block">
                <h3>НОВІ РЕАЛІЗОВАНІ ПРОЕКТИ</h3>

                <div class="my_new">
                    <div class="swiper">
                        <div class="new_photo_block_ar swiper-wrapper" id="my-gallery">

                            <div th:each="work : ${works}">
                            <a th:href="${work.photos[0]}" class="img swiper-slide">
                                <img th:src="${work.photos[0]}" alt="">
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev button ">
                        <i class="fa-solid fa-chevron-left"></i>
                    </div>
                    <div class="swiper-button-next button">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>
<footer class="footer">
    <div class="container">
        <div class="foot">
            <div class="row">
                <div class="col-md-4">
                    <div><h3>КОНТАКТИ</h3></div>
                    <div>
                        <a  href="tel:+380685059650">+38 (068) 505 96 50</a><br>
                        <a  href="tel:+380507517161">+38 (050) 751 71 61</a><br>
                        <a  href="mailto:salonskla@ukr.net">Email: salonskla@ukr.net</a><br>
                        <a  href="https://goo.gl/maps/FL2et2vg1AZoVLEVA" target="_blank">Львівська обл., м. Броди, вул. Руська, 9</a>
                    </div>
                    <div class="icons">
                        <a class="icon" href="https://www.facebook.com/profile.php?id=100040310163390" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a class="icon" href="https://instagram.com/arkonsklo?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a class="icon" href="https://t.me/+380685059650" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                        <a class="icon" href="https://wa.me/380685059650" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-4">
                    <a class="h12" th:href="@{/services}"><h3>ПОСЛУГИ</h3></a>
                    <div class="posl" >Пропонуємо Вам встановлення та доставку якісних виробів зі скла, що зроблять Вашу оселю неповторною. Роботу оплатити можна будь-яким зручним для Вас способом.</div>
                </div>
                <div class="col-lg-5 col-xl-4 ">
                    <a class="h12" th:href="@{/catalog}"><h3>КАТАЛОГ</h3></a>
                    <div class="row">
                        <div th:each="category : ${categories}">
                            <div class="col-md-6">
                                <a th:href="@{'/products/' + ${category.id}}">${category.name}</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="foot_900px">
            <div class="row">
                <div class="col-md-6">
                    <a href="#" ><h3>КОНТАКТИ</h3></a>
                    <div>
                        <a  href="tel:+380685059650">+38 (068) 505 96 50</a><br>
                        <a  href="tel:+380507517161">+38 (050) 751 71 61</a><br>
                        <a  href="mailto:salonskla@ukr.net">Email: salonskla@ukr.net</a><br>
                        <a  href="https://goo.gl/maps/FL2et2vg1AZoVLEVA" target="_blank">Львівська обл., м. Броди, вул. Руська, 9</a>
                    </div>
                    <div class="icons">
                        <a class="icon" href="https://www.facebook.com/profile.php?id=100040310163390" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a class="icon" href="https://instagram.com/arkonsklo?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a class="icon" href="https://t.me/+380685059650" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                        <a class="icon" href="https://wa.me/380685059650" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <a class="h12" th:href="@{/services}"><h3>ПОСЛУГИ</h3></a>
                    <div class="posl" >Пропонуємо Вам встановлення та доставку якісних виробів зі скла, що зроблять Вашу оселю неповторною. Роботу оплатити можна будь-яким зручним для Вас способом.</div>
                </div>
            </div>
        </div>


        <div class="foot_mobile">
            <h3>СКЛЯНІ КОНСТРУКЦІЇ</h3>
            <a  href="tel:+380685059650">+38 (068) 505 96 50</a><br>
            <a  href="tel:+380507517161">+38 (050) 751 71 61</a><br>
            <a  href="mailto:salonskla@ukr.net">Email: salonskla@ukr.net</a><br>
            <a  href="https://goo.gl/maps/FL2et2vg1AZoVLEVA" target="_blank">Львівська обл., м. Броди, вул. Руська, 9</a>
            <div class="icons">
                <a class="icon" href="https://www.facebook.com/profile.php?id=100040310163390" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a class="icon" href="https://instagram.com/arkonsklo?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a class="icon" href="https://t.me/+380685059650" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                <a class="icon" href="https://wa.me/380685059650" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>

    </div>
    <div class="last_foot">
        <div class="container">
            © 2024, Компанія Аркон, Скло в інтер'єрі Вашої оселі.
        </div>
    </div>

</footer>
<script src="https://kit.fontawesome.com/1467b92032.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/js/Swiper.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/newWorks.js"></script>
<script src="/js/forms.js"></script>
<script src="/js/openPhoto.js"></script>
<script src="/js/openPopUp.js"></script>
</body>
</html>